apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}-config
data:
  application.yaml: |
    ---
    server:
      port: {{ .Values.containerPort }}

    spring:
      datasource:
        url: jdbc:postgresql://{{ .Values.appConfig.datasource.host }}:{{ .Values.appConfig.datasource.port }}/{{ .Values.appConfig.datasource.database }}
        username: {{ .Values.appConfig.datasource.username }}
      output:
        ansi:
          enabled: NEVER

    currency:
      service:
        url: http://{{ .Values.appConfig.externalServices.currency.name }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.appConfig.externalServices.currency.port }}/rate

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
    logging:
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{trace_id:-},%X{span_id:-}] %logger{36} - %msg%n"
