apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}-config
data:
  application.yaml: |
    ---
    server:
      port: {{ .Values.containerPort }}

    spring:
      datasource:
        url: jdbc:postgresql://{{ .Values.appConfig.datasource.host }}:{{ .Values.appConfig.datasource.port }}/{{ .Values.appConfig.datasource.database }}
        username: {{ .Values.appConfig.datasource.username }}
      output:
        ansi:
          enabled: NEVER

    currency:
      service:
        url: http://{{ .Values.appConfig.externalServices.currency.name }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.appConfig.externalServices.currency.port }}/rate

    management:
      endpoints:
        web:
          exposure:
            include: health, info, prometheus
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
        prometheus:
          enabled: true
      metrics:
        distribution:
          percentiles-histogram:
            http:
              server:
                requests: true
      tracing:
        sampling:
          probability: 1.0 
      zipkin:
        tracing:
          endpoint: "{{ .Values.observability.zipkin.url }}/api/v2/spans" 
    logging:
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"
